.container {
    width: 595px;
    /* chieu rong */
    height: 842px;
    /* chieu cao */
    margin: auto;
    /* dat vao giua */
    padding: 4px;
}

.main-content {
    height: 100%;
    width: calc(40% - 1px);
    float: left;
    background-color: #178dc7;
}

.sub-content {
    height: 100%;
    width: 60%;
    float: right;
    background-color: #eeedea;
}

.avatar {
    width: 65%;
    border-radius: 10px 0 10px 0;
}

.avatar-content {
    text-align: center;
    padding: 30px 13px 0 13px;
}

.main-info {
    padding: 15px;
    color: white;
    font-family: sans-serif;
    font-weight: 200;
}

.info-1-main {
    text-align: center;
    font-size: 1.7em;
}

.info-1-sub {
    font-size: medium;
    text-align: center;
}

.info-2{   
    font-size: 0.8em;
}

.info-2-title{
    float: center;
}

.info-2 ul{
    list-style-type: none;
}

